.inputfiled{
  height: 35px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  width: 50%;
  direction: ltr;
}
.Top_Container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.Add{
  width: 20%;
  height: 50px;
  background:black;
  color: white;
  font-size: 26px;
  border: none;

}

.lists{
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 5px;
  margin: 20px;
}
.btns{
  height: 50px;
  width: 30%;
  display: flex;
  justify-content: space-around;

}
button{
  height: 40px;
  background: black;
  color: white;
  width: 45%;
  font-size: 27px;

}

.info{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  
}
.radiobtn{
  width: 50px;
  height: 20px;
  font-size: 44px;
  cursor: pointer;
}




/* //
 */